section {
    margin: 70px 144px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B6E0F3;
    padding-left: 100px;
    padding-right: 100px;
}

.left-hero {
    max-width: 450px;
}

.left-hero h1 {
    margin: 0 0 15px;
    font-size: 48px;
    font-weight: 800;
}

.left-hero p {
    margin: 0 0 30px;
}

.left-hero button {
    color: #fff;
    background-color: #6862dd;
    padding: 14px 45px 20px 40px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 800;
}

.line-delimeter {
    margin: 70px 144px;
    background-color: #000;
    height: 3px;
}
