body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: #f2f4f7;
    padding: 180px 0;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: #f2f4f7;
    width: 980px;
    gap: 150px;
    margin: 0 auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    min-width: 350px;
    background-color: #fff;
    padding: 10px 20px 20px;
    border-radius: 8px;
    box-shadow: 3px 10px 18px -9px rgba(0,0,0,0.75);
}

img {
    max-width: 360px;
    max-height: 100px;
}

.hero {
    max-width: 400px;
    box-sizing: border-box;
    padding: 0 0 100px;
}

.hero h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 0 28px;
    margin: 0;
}

.image-section {
    max-width: 400px;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 0 20px;
}

.submit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #f2f4f7;
    border-radius: 5px;
    font-size: 17px;
}

.login-btn {
    width: calc(100% + 20px);
    color: #fff;
    font-size: 20px;
    line-height: 48px;
    font-weight: 700;
    background-color: #0866ff;
    border-radius: 6px;
    border: none;
}

.login-btn:hover {
    background-color: #2777f8;
    cursor: pointer;
    transition: ease-in-out;
}

.bottom-line { 
    width: 100%;
    height: 1px;
    background-color: #dfe1e4;
}

.create-btn {
    color: #fff;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    font-weight: 700;
    padding: 0 16px;
}

.create-btn:hover {
    background-color: #43aa2f;
    cursor: pointer;
    transition: ease-in-out;
}

form div a {
    font-size: 14px;
    color: #0866ff;
    text-decoration: none;
}

.create-page-link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.create-page-link:hover {
    text-decoration: underline;
}

footer {
    width: 980px;
    margin: 0 auto;
}

.footer-langs {

}

.footer-langs ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    color: #737373;
    font-size: 12px;
    padding: 0;
}

.add-langs {
    font-size: 16px;
    max-height: 18px;
    line-height: 18px;
    padding: 0 8px;
    border-radius: 2px;
    border: 2px solid #e4e2e2;
}

.add-langs:hover {
    background-color: #d0d0d0;
    cursor: pointer;
    border: 2px solid #e4e2e2;
    transition: 0.2s ease-in-out;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #737373;
}